<section class="intro-screen">
<div class="intro-screen-wrapper">
<div class="intro-screen-title">
<div class="main">
	<span>S</span>
	<span>P</span>
	<span>A</span>
	<span>C</span>
	<span>I</span>
	<span class="letter"></span>
	<span>U</span>
	<span>S</span>
</div>
<p>P<span class="letter"></span>ckets</p>
</div>
<p class="slogan">Master Your Finances with Expense Tracking!</p>
<div class="intro-screen-links">
<%= link_to 'Login In', new_user_session_path, class: 'btn btn-primary' %>
<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
</div>
</div>
</section>

